body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:375px;
    height:781px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:375px;
    height:781px;
}

.u1 {
    position:absolute;
    left:2px;
    top:382px;
    width:371px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:0px;
    top:25px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u3 {
    position:absolute;
    left:397px;
    top:119px;
    width:150px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:0px;
    top:199px;
    width:185px;
    height:60px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u5 {
    position:absolute;
    left:185px;
    top:199px;
    width:185px;
    height:60px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u6 {
    position:absolute;
    left:0px;
    top:269px;
    width:370px;
    height:455px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u7_container {
    position:absolute;
    left:600px;
    top:0px;
    width:375px;
    height:781px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:375px;
    height:781px;
}

.u8 {
    position:absolute;
    left:2px;
    top:382px;
    width:371px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

