body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:600px;
    top:0px;
    width:375px;
    height:667px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:375px;
    height:667px;
}

.u1 {
    position:absolute;
    left:2px;
    top:326px;
    width:371px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:375px;
    height:667px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:375px;
    height:667px;
}

.u3 {
    position:absolute;
    left:2px;
    top:326px;
    width:371px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:659px;
    top:273px;
    width:257px;
    height:256px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u5 {
    position:absolute;
    left:385px;
    top:287px;
    width:205px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u6 {
    position:absolute;
    left:8px;
    top:22px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u7 {
    position:absolute;
    left:277px;
    top:22px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u8 {
    position:absolute;
    left:325px;
    top:22px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u9 {
    position:absolute;
    left:137px;
    top:48px;
    width:96px;
    height:85px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u10 {
    position:absolute;
    left:137px;
    top:133px;
    width:96px;
    height:31px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u11 {
    position:absolute;
    left:385px;
    top:166px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u12 {
    position:absolute;
    left:0px;
    top:273px;
    width:375px;
    height:307px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u13 {
    position:absolute;
    left:0px;
    top:201px;
    width:92px;
    height:62px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u14 {
    position:absolute;
    left:102px;
    top:201px;
    width:77px;
    height:62px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u15 {
    position:absolute;
    left:196px;
    top:201px;
    width:77px;
    height:62px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u16 {
    position:absolute;
    left:292px;
    top:201px;
    width:77px;
    height:62px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u17_container {
    position:absolute;
    left:1000px;
    top:0px;
    width:375px;
    height:667px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:375px;
    height:667px;
}

.u18 {
    position:absolute;
    left:2px;
    top:326px;
    width:371px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u19 {
    position:absolute;
    left:89px;
    top:617px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u20 {
    position:absolute;
    left:15px;
    top:617px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u21 {
    position:absolute;
    left:162px;
    top:592px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u22 {
    position:absolute;
    left:235px;
    top:610px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u23 {
    position:absolute;
    left:309px;
    top:610px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

