body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:0px;
    top:-8px;
    width:376px;
    height:1390px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:376px;
    height:1390px;
    
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:375px;
    height:1375px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:375px;
    height:1375px;
}

.u2 {
    position:absolute;
    left:2px;
    top:680px;
    width:371px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../活动详情页_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:1022px;
    width:375px;
    height:68px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:375px;
    height:68px;
}

.u4 {
    position:absolute;
    left:2px;
    top:26px;
    width:371px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u5 {
    position:absolute;
    left:0px;
    top:18px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u6 {
    position:absolute;
    left:325px;
    top:18px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u7 {
    position:absolute;
    left:431px;
    top:315px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../活动详情页_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:553px;
    top:1010px;
    width:375px;
    height:62px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:375px;
    height:62px;
}

.u9 {
    position:absolute;
    left:2px;
    top:23px;
    width:371px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:403px;
    top:1025px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

